body {
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: white;
}

h1 {
    width: 400px;
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin: auto;
}

.container {
    background-color: black;
    width: 250px;
    height: 480px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 25px;
}

#results-div {
    color: rgb(117, 108, 94);

}

label {
    color: rgb(117, 108, 94);

}

.dot {
    background-color: aliceblue;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 15px auto;
}


.phone-container {
    background-color: aliceblue;
    height: 350px;
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    margin: 10px;
    padding: 5px 20px;
    border: 4px solid white;
    background-color: rgb(217, 227, 235);
    font-size: 16px;
}


@media only screen and (max-width: 510px) {
    h1 {
        font-size: 26px;
        width: 220px;
    }

    .container {
        width: 220px;
        height: 480px;

    }

    .phone-container {
        height: 350px;
        width: 180px;
        padding: 15px;
    }

    button {
        padding-top: 4px 10px;
        margin: 5px;
    }
    
}